@model ProjectManagement.viewModels.ProjectDetailsVM

@{
    ViewData["Title"] = "Details";
}

<div>
    <div class="alert alert-warning" role="alert">
        <h1 class="text-center text-primary">
            @Html.DisplayFor(model => model.Name)
        </h1>
    </div>
    
    <h3 class="text-center">
        Status : @Html.DisplayFor(model => model.Status)
    </h3>
    <h2 class="mt-5">
        Developers working on the project
    </h2>
    @if (Model.Developers.Count<= 0)
    {
        <div class="alert alert-danger" role="alert">
            <h5>No developer is assigned to this project yet !</h5>
        </div>
    }
    else
    {
        <table class="table">
            <thead>
            </thead>
            <tbody>
                @foreach (var item in Model.Developers)
                {
                    <tr>
                        <th scope="row">@item.FullName</th>
                    </tr>
                }
            </tbody>
        </table>
    }
    <h2 class="mt-5">
        Related Tickets
    </h2>  
    @if (Model.Tickets.Count <= 0 )
    {
        <div class="alert alert-danger" role="alert">
            <h5>No ticket is created on this project yet !</h5>
        </div>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Assigned To</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Tickets)
                {
                    <tr>
                        <th scope="row">@item.Name</th>
                        <td>@item.Status</td>
                        <td>@item.Developer.FullName</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
